<div class="authform">
<div class="mark_head">Your Pricemark</div>
  <%= form_for @pricemark, :html => { :method => :put, :role => 'form'} do |f| %>
       <div class="form-group">
         <%= f.label :title, class: "col-md-4 control-label" %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter Pricemark title" %>
         </div>
       <div class="form-group">
         <%= f.label :url, class: "col-md-4 control-label" %>
         <%= f.text_field :url, class: 'form-control', placeholder: "Paste the URL" %>
         </div>
       <div class="form-group">
         <%= f.label "Site Tags", class: "col-md-4 control-label" %>
         <%= f.text_field :tag_list, class: 'form-control', placeholder: " Separate with Commas" %>
         </div>
       </br>
       <div class="actions">
         <div class="col-sm-offset-4">
           <button type="submit" class="btn btn-success">Save</button> | <%= link_to 'Delete', @pricemark, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> </div>
       </div> 
          </div>
         <% end %>