<div class="mark_head">Your Pricemark</div>
<h2><center>X Marx le Spot!! </center></h2>
     <%= form_for @pricemark, :html => {:class => "form-horizontal center"}  do |f| %>
       <div class="form-group">
         <%= f.label :title, class: "col-md-4 control-label" %>
         <div class="col-md-8">
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter Pricemark title" %>
         </div>
       </div>
       <div class="form-group">
         <%= f.label :url, class: "col-md-4 control-label" %>
         <div class="col-md-8">
         <%= f.text_field :url, class: 'form-control', placeholder: "Paste the URL" %>
         </div>
       </div>
       <div class="form-group">
         <%= f.label :tag_list, "Tag it! (But Only Once Player!)", class: "col-md-4 control-label" %>
         <div class="col-md-8">
         <%= f.text_area :tag_list, class: 'form-control', placeholder: "Tag the Bitch!" %>
         </div>
       </div>
       <div class="actions">
         <div class="col-sm-offset-4">
           <button type="submit" class="btn btn-success">Save</button> | <%= link_to 'Delete', @pricemark, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> </div>
       </div> 
          </div>
         <% end %>