<div class="mark_show"><%= @pricemark.title %> </div>
<div class="signature2"> Tagged under: <%= @pricemark.tag_list %> </div>
</br>
  <strong>Url:</strong>
  <%= link_to @pricemark.url, @pricemark.url %>
</p>
  <% if @url.html.present? %>
<p><%= @url.html.html_safe %></p>
<% else %>
  <%= image_tag ("#{@url.thumbnail_url}"), class: "thumb" %>
  <% end %>

<p>
  <strong>Added by:</strong>
  <%= @pricemark.user.email %>
  <%= time_ago_in_words(@pricemark.created_at) %> ago
</p>
 <% if logged_in? %>
<li><%= render partial: 'favorites/favorite', locals: { pricemark: @pricemark } %></li>
  <% end %>

<% if @pricemark.user == current_user %>
<%= link_to 'Edit', edit_pricemark_path(@pricemark) %> |
<% end %>
<%= link_to 'Back', pricemarks_path %>