<div class="tag_head">Links Tagged as <%= @tag.name.titleize %></div>

<% if @pricemarks.count > 0 %>
<table class="table table-striped">
  <thead>
   <tr>
      <th>URL </th>
      <th> Day Added </th>
      <th> Uploader </th>
      <th colspan="<%= @colspan %>"></th>
   </tr>
  </thead>
    <tbody>
       <% @pricemarks.each do |p| %>
    <tr>
      <td><%= link_to p.url, p.url %></td> 
      <td><%= time_ago_in_words(p.created_at) %> ago</td>
      <td><div class='signature'><%= p.user.email %></td></div>
      <% if logged_in? %>
      <td><%= render partial: 'favorites/favorite', locals: { pricemark: p } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% else %>

  <p>This tag is not associated with any PriceMarx. Go! Find!</p>

<% end %>