<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  <%= form_for @user, :html => {:class => "testbox"}  do |f| %>
  <h6>Sign Up</h6>
  <form action="/">
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <%= f.text_field :name, class: "name", placeholder: "Name" %>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <%= f.text_field :email, class: "name", placeholder: "Email" %>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <%= f.password_field :password, class: "name", placeholder: "Password" %>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <%= f.password_field :password_confirmation, class: "name", placeholder: "Password Confirmation" %>
    <center>
    </br>
      <div class="actions">
   <%= f.submit "Register"%></div>
 </center>
  </form>
<% end %>